.App {
  text-align: center;
  background-image: url('./images/cakephoto.jpg');
  width: 100%;
  height: 900px;
}

@font-face {
  font-family: 'Great Vibes';
  src: local('GreatVibes'), url(./fonts/GreatVibes-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'LexendTera';
  src: local('LexendTera'), url(./fonts/LexendTera-Regular.ttf) format('truetype');
}


nav{
  font-family: 'Great Vibes';
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgb(116, 138, 128);
  height: 30%;
}

li{
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  list-style: none;
  font-family: 'LexendTera';
}



